$primarycolor: darkslategrey;
$info-color: rgb(69, 139, 156);
$marginuphero: 20px 20px 10px;
$colornavbar: rgba(62, 10, 182, 0.8);

body{
  i{
    font-size: 3rem;
    font-weight: bold;
  }
  .navbar{
    background-color: $colornavbar;
  }
  .nav-item{
    font-size: 1.2rem;
    font-weight: bold;
  }
  .theme-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  #welcome{
    text-align: start;
    margin:$marginuphero;
    color: $primarycolor;

  }
    .info{
        margin: $marginuphero;
        text-align: start;
        font-size: 1.5rem;
        color: $info-color
    }
    .servicios{
        gap: 10px;
        margin: $marginuphero;
        text-align: start;
        color: $primarycolor;

    }
}
.hero{
  .carousel-item{
    height: 400px;
  }

  img{

    height: 100%;
    object-fit: cover;
  }
  h5{
    
    color: $info-color;
    font-size: 3rem;
  }
  p{
    color: $info-color;
    font-size: 2rem;
  }
}
footer{
  margin-top: 1rem;

}