body{
  .theme-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .welcome{
    text-align: center;
    margin-top: 50px;
    color: darkslategrey;

  }
    .info{
        text-align: center;
        font-size: 1rem;
        color: rgb(69, 139, 156)
    }
    .servicios{
        gap: 10px;
        margin: 10px 10px;
        text-align: start;
        color: darkslategrey;

    }
}
.hero{
  .carousel-item{
    height: 600px;
  }

  img{

    height: 100%;
    object-fit: cover;
  }
  h5{
    color: rgb(52, 162, 206);
    font-size: 3rem;
  }
  p{
    color: rgb(69, 139, 156);
    font-size: 2rem;
  }
}