body {
    background-image: url(Canva.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form {
    border: none;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    text-align: initial;
    gap: 5px;
    width: 620px;
    height:620px;
    margin: auto;
    margin-top: 100px;
    background: linear-gradient(30deg,rgba(107, 27, 103, 0.5) 57%, rgba(9, 9, 121, 0.5) 100%, rgba(255, 0, 174, 0.5) 30%);
}
.botonpiola {
    width: 40%;
    background-image: linear-gradient(to right, rgba(107, 27, 103, 9) 0%, rgba(9, 9, 121, 9) 51%, rgba(255, 0, 174, 9) 100%);
}

.botonpiola {
    margin: 5px;
    margin-left: 350px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.9s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
    outline: none;
    border: none;
}

.botonpiola:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.titulo{
    font-family: orbitron;
    color: #FAB2FF;
    text-align: center;
}
input{
    padding: 4px;
    margin-top: 5px;
}
label{
    color: #FAB2FF;
    font-size: 17px;
    font-family: orbitron;
    padding: 10px;
}
.campo1 .campo2 .campo3 .campo4 .campo5{
    display: flex;
    flex-direction: row;
    text-align: start;
}
p{
    font: 17px;
    margin: 5px;
    color: #FAB2FF;
    font-family: orbitron;
}
textarea{
    width: 600px;
    height: 120px;
    resize: none;
    margin-left: 6px;
}